.HomeAwal{
    visibility: hidden
}

.scrollSmooth{
    scroll-behavior: smooth;
}


/* bg Head */

.bg{
    width: 100%;
    height: 100vh;
    background-color: var(--black);
}

.hello{
    margin-top: 80px;
    color: var(--white);
    font-size: 72px;
    font-weight: 900;
}

.full-stack{
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
}

.garisPertama{
    width: 100%;
    height: 5px;
    background-color: var(--green);
    margin-top: 5px;
}

.textTahun{
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    margin-top: 136px;
}

.garisKedua{
    width: 100%;
    height: 5px;
    margin-top: 5px;
    background-color: var(--green);
}

.web{
    color: var(--white);
    font-weight: 900;
    font-size: 72px;
    margin-top: 95px;
}

.gambarHome{
    height: 328px;
    object-fit: cover;
}

.overlayHome{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--black);
    width: 100%;
    opacity: 0.5;
    transition: ease .5s;
    height: 100%;
}

/* .overlayHome:hover {
    opacity: 0.1;
    cursor: pointer;
} */

.indonesian{
    font-size: 36px;
    color: var(--green);
    font-weight: 900;
    margin-top: 93px;
    letter-spacing: 0.155cm;
    line-height: 53.82px;
}

.indonesian2{
    color: var(--white);
    font-size: 72px;
    font-weight: 900;
    margin-top: -10px;
}

.sectionWelcome{
    margin-top: 115px;
}

.welcome{
    color: var(--green);
    font-size: 36px;
    font-weight: 900;
}

.selamatDatang{
    color: var(--white);
    font-size: 36px;
    font-weight: 900;
}

.bodyWelcome{
    font-size: 18px;
    font-weight: 300;
    color: var(--white);
}

/* Home Body */
.bgBody{
    background-color: var(--white);
    height: 1662px;
    width: 100%;
}

.textCardHeading{
    font-size: 36px;
    font-weight: 900;
    color: var(--black);
    margin-top: 10px;
}

.textCardBody{
    font-size: 18px;
    font-weight: 300;
    color: var(--grey);
    margin-top: 0px;
}

.textViewProject{
    font-size: 12px;
    font-weight: 700;
    color: var(--grey);
    margin-top: 10px;
    cursor: pointer;
    transition: ease .7s;
    text-decoration: none;
}

.textViewProject:hover{
    color: black;
    text-decoration: none;
}

.cardImg-2{
    width: 100%;
    object-fit: cover;
    height: 300px;
    transition-delay: .2s;
    transition-duration: .5s;
    cursor: pointer;
}

.cardImg-2:hover{
    transform: translateY(-7px);
}


.cardImg-1{
    width: 100%;
    object-fit: cover;
    height: 420px;
    transition-delay: .2s;
    transition-duration: .5s;
    cursor: pointer;
}

.cardImg-1:hover{
    transform: translateY(-7px);
}

::-webkit-scrollbar{
    width: 6px;
    border-radius: 5px;
    background-color: var(--black);

}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0, 0.25);
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: var(--green);
    transform: scaleY(0.5);
}

