:root{
    --green : #8CE9C5;
    --black : #121212;
    --grey : #4E5850;
    --white : #F2F3F4
}

.fontKanit{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.fontPlay{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 36px;
}