.bgFooter{
    height: 300px;
    width: 100%;
    background-color: var(--black);
}

.footer1{
    font-size: 36px;
    color: var(--green);
    font-weight: 900;
}

.footerBody{
    font-size: 14px;
    color: var(--white);
    font-weight: 300;
    margin-top: 10px;
    cursor: pointer;
    letter-spacing: 0.002cm;
}

.contactMe{
    color: var(--white);
    text-decoration: none;
}

.contactMe:hover{
    color: var(--white);
    text-decoration: none;
}

@media (max-width:576px){
    .footer1{
        font-size: 18px;
        color: var(--green);
        font-weight: 700;
    }
}