.navbar{
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    padding-top: 30px;
}

.navTommy{
    cursor: pointer;
    transition: all .5s;
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.navTommy:hover{
    color: var(--green);
    text-decoration: none;
}

.navAbout{
    cursor: pointer;
    transition: all .5s;
    padding-right: 1px;
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.navAbout:hover{
    transform: translateX(-10px);
    text-decoration: none;
    color: var(--white);
}


@media (max-width:576px){
    .navTommy{
        cursor: pointer;
        transition: all .5s;
        color: var(--white);
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
    }

    .navAbout{
        cursor: pointer;
        transition: all .5s;
        padding-right: 1px;
        color: var(--white);
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
    }
}